<!--CREATE-->
<div class="d-flex flex-column" *ngIf="data.viewOption.type==ViewOption.Create">
    <input class="word-left  p-2 my-1" (input)="removeError('.word-left')" [(ngModel)]='data.oryginalSentence' placeholder='sentence' id="translationWord"/>
    <input class="word-right p-2 my-1" (input)="removeError('.word-right')" [(ngModel)]='data.translatedSentence' placeholder='translation'  id="inputTranslationWord" />
    <button class="p-2 rounded  {{userService.colorset[1]}}" (click)='Translate();'>Translate</button>
</div>

<!--DISPLAY-->
<div class="d-flex d-column w-100 justify-content-between my-1 p-2 rounded bg-white" *ngIf="data.viewOption.type==ViewOption.Display">
    <div class="d-flex flex-column">
        <h6>Translate Sentence</h6>
        <span>Sentence: {{data.oryginalSentence}}  </span>
        <span>Translated: {{data.translatedSentence}}  </span>
    </div>
    <div>
        <img *ngIf="data.audioPath==1" src="./../../../assets/icons/audio.png">
        <img *ngIf="data.videoPath==1" src="./../../../assets/icons/video.png">
        <img *ngIf="data.picturePath==1" src="./../../../assets/icons/image.png">
    </div>
</div>

<!--LEARN-->
<div *ngIf="data.viewOption.type==ViewOption.Learn">
    <h4 class="text-center mt-4">Translate sentence</h4>
    <div class="videoimage d-flex  bg-white p-2">
        <h5 class="mx-auto my-auto d-block word-left text-center  rounded p-3">{{data.oryginalSentence}} </h5>
    </div>
    <div class="invisible">
        <h5 class="word-left rounded p-3 text-center">{{data.oryginalSentence}} </h5>
    </div>
    <div class="p-2">
        <input [(ngModel)]="data.answer" placeholder="answer" class="form-control  answerinput" />
    </div>
</div>
<div class="image" *ngIf="data.viewOption.type==ViewOption.LearnImage">
    <h4 class="text-center mt-4">Translate sentence</h4>
    <div class="videoimage d-flex  bg-white p-2">
        <img class="mx-auto d-block rounded" src={{data.picturePath}}>
    </div>
    <div class=" bg-white">
        <h5 class="word-left rounded p-3 text-center">{{data.oryginalSentence}}</h5>
    </div>
    <div class="p-2">
        <input [(ngModel)]="data.answer" placeholder="answer" class="form-control answerinput" />
    </div>
</div>
<div class="audio" *ngIf="data.viewOption.type==ViewOption.LearnAudio">
    <h4 class="text-center mt-4">Translate sentence</h4>
    <div class="videoimage d-flex bg-white p-2">
        <audio class="mx-auto my-auto" controls>
            <source src={{data.audioPath}}>
        </audio>
    </div>
    <div class=" bg-white">
        <h5 class="word-left rounded p-3 text-center">{{data.oryginalSentence}}</h5>
    </div>
    <div class="p-2">
        <input [(ngModel)]="data.answer" placeholder="answer" class="form-control answerinput" />
    </div>
</div>
<div class="video" *ngIf="data.viewOption.type==ViewOption.LearnVideo">
    <h4 class="text-center mt-4">Translate sentence</h4>
    <div class="videoimage videoimage d-flex  bg-white p-2">
        <video class="" controls>
            <source src={{data.videoPath}}>
        </video>
    </div>
    <div class=" bg-white">
        <h5 class="word-left rounded p-3 text-center">{{data.oryginalSentence}}</h5>
    </div>
    <div class="p-2">
        <input [(ngModel)]="data.answer" placeholder="answer" class="form-control answerinput" />
    </div>
</div>