<p>lesson-create works!</p>

<div id="lesson-create">
    <input *ngIf="set.setInfo" [(ngModel)]="set.setInfo.name" placeholder="Lesson Name"/>
    <input *ngIf="set.setInfo" [(ngModel)]="set.setInfo.info" placeholder="Lesson Info"/>
    <ul class="words">
        <li>
            <ng-template exerciseHost></ng-template><button (click)="addExercise();">+</button>
        </li>
    </ul>
    <ul *ngIf="set" class="words">
        <li *ngFor="let exerciseI of set.exercises" id="exercise-in-lesson-create">
            <a *ngIf="exerciseI.template=='WordExerciseTemplate'">
                <span>{{exerciseI.data.id}}  </span>
                <span>{{exerciseI.data.word}}  </span>
                <span>{{exerciseI.data.translation}}  </span>
            </a>
            <a *ngIf="exerciseI.template=='TranslateSentenceExerciseTemplate'">
                <span>{{exerciseI.data.id}}  </span>
                <span>{{exerciseI.data.oryginalSentence}}  </span>
                <span>{{exerciseI.data.translatedSentence}}  </span>
            </a>
            <a *ngIf="exerciseI.template=='FillSentenceExerciseTemplate'">
                <span>{{exerciseI.data.id}}  </span>
                <span>{{exerciseI.data.leftPartOfSentence}}  </span>
                <span>{{exerciseI.data.wordToFill}}  </span>
                <span>{{exerciseI.data.rightPartOfSentence}}  </span>
            </a>
        <button class="delete" title="delete exercise" (click)="deleteExercise(exerciseI)">x</button>
        </li>
    </ul>
    <!--div *ngIf="exerciseInput">
        <a *ngIf="exercise.template=='WordExerciseTemplate'">
            <input [(ngModel)]='exercise.data.word' placeholder='word'/>
            <input [(ngModel)]='exercise.data.translation' placeholder='translation'/>
        </a>
        <a *ngIf="exercise.template=='TranslateSentenceExerciseTemplate'">
            <input [(ngModel)]='exercise.data.oryginalSentence' placeholder='oryginalSentence'/>
            <input [(ngModel)]='exercise.data.translatedSentence' placeholder='translatedSentence'/>
        </a>
        <a *ngIf="exercise.template=='FillSentenceExerciseTemplate'">
            <input [(ngModel)]='exercise.data.leftPartOfSentence' placeholder='leftPartOfSentence'/>
            <input [(ngModel)]='exercise.data.wordToFill' placeholder='wordToFill'/>
            <input [(ngModel)]='exercise.data.rightPartOfSentence' placeholder='rightPartOfSentence'/>
        </a>
        <button (click)='addExercise()'>+</button>
    </div-->
    <!-- <div [innerHTML]="createExercise"></div> -->
    <!-- <button (click)='test()'>siema2</button> -->
    <!-- <div [innerHTML]="createExercise | safeHtml"></div> -->
    <!-- <div id="create-exercise"></div> -->

    <button title="WordExerciseTemplate" (click)="createWordExercise()">WordExerciseTemplate</button>
    <button title="TranslateSentenceExerciseTemplate" (click)="createTranslateSentenceExercise()">TranslateSentenceExerciseTemplate</button>
    <button title="FillSentenceExerciseTemplate" (click)="createFillSentenceExercise()">FillSentenceExerciseTemplate</button>
    
    <button class="save" (click)="saveLesson()">Save</button>
</div>