
nav{
  height: 100%;
}

#wrapper {
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100vh;
}
.darker {
  background: #131313;
}
#sidebar-wrapper {
  min-height: 100vh;
  height: 100%;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  color: white;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100%;
  min-height: 100vh;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.menu-toggle{
  position: absolute;
  top: 0;
  right:0;
  width: 40px;
  background-color: #13131370;
  font-size: 1.4em;
  
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  .menu-toggle{
    display: none;
  }
}
