<!-- <div class="jumbotron p-4">
    <div class="text-center">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</div> -->
<div class="" id="wrapper">
    <nav *ngIf="logged">
        <div class="{{colorset[0]}} nav-bar d-flex p-2"
            onClick="(function toggle(){$('#wrapper').toggleClass('toggled');})(window.data);">
            <span class="pr-2">☰</span>
            <span>Delp</span>
        </div>
        <div class="nav-list">
            <div class="nav-list-bar list-group list-group-flush">
                <a class="nav-link list-group-item list-group-item-action" onClick="(function toggle(){$('#wrapper').toggleClass('toggled');})(window.data);" routerLink="/user/favourite">Favourites ★</a>
                <a class="nav-link list-group-item list-group-item-action"  routerLink="/user/sets" onClick="(function toggle(){$('#wrapper').toggleClass('toggled');})(window.data);" >My sets</a>
                <a class="nav-link list-group-item list-group-item-action" routerLink="/" onClick="(function toggle(){$('#wrapper').toggleClass('toggled');})(window.data);" >Explore</a>
                <a class="nav-link list-group-item list-group-item-action" routerLink="/" onClick="(function toggle(){$('#wrapper').toggleClass('toggled');})(window.data);">Profile <div class="settings"></div></a>
                <a class="nav-link list-group-item list-group-item-action" routerLink="/user/logout" onClick="(function toggle(){$('#wrapper').toggleClass('toggled');})(window.data);" >Logout</a>
                <a class="nav-link list-group-item list-group-item-action" routerLink="/wordset/create" onClick="(function toggle(){$('#wrapper').toggleClass('toggled');})(window.data);">Create
                    Wordset</a>
                <a class="nav-link list-group-item list-group-item-action" routerLink="/lesson/create" onClick="(function toggle(){$('#wrapper').toggleClass('toggled');})(window.data);">Create
                    Lesson</a>
            </div>
            <div class="shadow" onClick="(function toggle(){$('#wrapper').toggleClass('toggled');})(window.data);"></div>
        </div>
    </nav>

    <!-- <div *ngIf="logged" class=" nav-menu">
        <nav class="" >
            <div class="" id="sidebar-wrapper">
                <div class="sidebar-heading">Delp</div>
                <div class="list-group list-group-flush">
                    <a
                        class="bg-dark text-white nav-link list-group-item list-group-item-action"
                        routerLink="/user/favourite">Favourites</a>
                    <a class="bg-dark text-white nav-link list-group-item list-group-item-action"
                        routerLink="/user/sets">My sets</a>
                    <a class="bg-dark text-white nav-link list-group-item list-group-item-action"
                        routerLink="/wordset/create">Create
                        Wordset</a>
                    <a class="bg-dark text-white nav-link list-group-item list-group-item-action"
                        routerLink="/lesson/create">Create
                        Lesson</a>
                    <a class="bg-dark text-white nav-link list-group-item list-group-item-action"
                        routerLink="/user/logout">Log Out</a>
                </div>
            </div>
        </nav>
    </div> -->
    <div class="m-4" id="">
        <!-- <div *ngIf="logged">
            <div class=" menu-toggle sidebar-heading darker text-white text-center " id="menu-toggle" onClick="(function toggle(){$('#wrapper').toggleClass('toggled');})(window.data);">
                <span class="" >☰</span>
            </div>
        </div> -->
        <input #keyword placeholder="search for sets" /> <button
            (click)="goToSearchedSets(keyword.value); keyword.value=''">Search</button>
        <router-outlet class=""></router-outlet>
    </div>
</div>