<!-- <div class="jumbotron p-4">
    <div class="text-center">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</div> -->
<div class="d-flex" id="wrapper">
    <div *ngIf="logged" class=" nav-menu">
        <nav class="" >
            <div class="bg-dark text-white border-right" id="sidebar-wrapper">
                <div class="sidebar-heading darker">Delp</div>
                <div class="list-group list-group-flush">
                    <a routerLink="/user/favourite"
                        class="bg-dark text-white nav-link list-group-item list-group-item-action"
                        routerLink="/user/favourite">Favourites</a>
                    <a class="bg-dark text-white nav-link list-group-item list-group-item-action"
                        routerLink="/user/sets">My sets</a>
                    <a class="bg-dark text-white nav-link list-group-item list-group-item-action"
                        routerLink="/wordset/create">Create
                        Wordset</a>
                    <a class="bg-dark text-white nav-link list-group-item list-group-item-action"
                        routerLink="/lesson/create">Create
                        Lesson</a>
                    <a class="bg-dark text-white nav-link list-group-item list-group-item-action"
                        routerLink="/user/logout">Log Out</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="m-4" id="page-content-wrapper">
        <div *ngIf="logged">
            <div class=" menu-toggle sidebar-heading darker text-white text-center " id="menu-toggle" onClick="(function toggle(){$('#wrapper').toggleClass('toggled');})(window.data);">
                <span class="" >☰</span>
            </div>
        </div>
        <input #keyword placeholder="search for sets"/> <button (click)="goToSearchedSets(keyword.value); keyword.value=''">Search</button>
        <router-outlet class=""></router-outlet>
    </div>
</div>