<p>wordset-display works!</p>
<br>
<div id="wordset-display">
    <ul *ngIf="set" class="words">
        <li *ngFor="let exerciseI of set.exercises">
            <!-- {{exerciseI.id}} -->
            <ng-template exerciseListHost></ng-template><br/>
        </li>
    </ul>

    <!-- <ul *ngIf="set" class="words">
        <li *ngFor="let word of set.exercises">
            <a>
                <span class="word-id">{{word.id}}  </span>
                <span class="word-left">{{word.word}}  </span>
                <span class="word-right">{{word.translation}}  </span> 
            </a>
        </li>
    </ul> -->
</div>