.learningwordset {
  overflow: hidden;
  width: 100%;
}

.videoimage {
  width: 100%;
  height: 15em;
}
video{
  max-width: 100%;
  max-height: 100%;
}
.videoimage > img {
  max-width: 100%;
  max-height: 100%;
}
.bg-error {
  background: #ffacac;
  animation: focusred 0.5s 1;
}

@keyframes focusred {
  from {
    background: white;
  }
  to {
    background: #ffacac;
  }
}
.bg-suc {
  background: #69ac60;
  animation: focusgreen 0.5s 1;
}

@keyframes focusgreen {
  from {
    background: white;
  }
  to {
    background: #69ac60;
  }
}