<p>favourites works!</p>
<div id="favourites">
    <!-- {{favourites}} -->
    <ul *ngIf="favourites" class="fav-sets">
        <li *ngFor="let setI of favourites">
            <a>
                <span class="wordset-id">{{setI.id}}  </span>
                <span class="wordset-name">{{setI.name}}  </span>
            </a>
            <button class="display" title="display" (click)="goToDisplayView(setI.id)">display</button>
            <button class="learn" title="learn" (click)="goToLearnView(setI.id)">learn</button>
            <button (click)="deleteSetFromFavourites(setI.id)">Delete from Favourites</button>
            
        </li>
        <!-- <li *ngFor="let lesson of favourites.lessons">
            <a>
                <span class="lesson-id">{{lesson.id}}  </span>
                <span class="lesson-name">{{lesson.name}}  </span>
            </a>
            <button class="learn" title="learn" (click)="goToLearnView(lesson.id)">learn</button>
        </li> -->
    </ul>
    <!-- <button class="load" (click)="getWordset()">Load</button> -->
</div>