<p>favourites works!</p>
<div id="favourites">
    <!-- {{favourites}} -->
    <ul *ngIf="favourites" class="fav-sets">
        <li class=" list-group-item " *ngFor="let set of favourites">
            <a>
                <span class="wordset-id">{{set.id}}  </span>
                <span class="wordset-name">{{set.name}}  </span>
            </a>
            <button class="display btn btn-dark mr-1" title="display" (click)="goToDisplayView(set.id)">display</button>
            <button class="learn btn btn-dark  mr-1" title="learn" (click)="goToLearnView(set.id)">learn</button>
            <button class="btn btn-dark mr-1" (click)="deleteSetFromFavourites(set.id)">Delete from Favourites</button>
            
        </li>
        <!-- <li *ngFor="let lesson of favourites.lessons">
            <a>
                <span class="lesson-id">{{lesson.id}}  </span>
                <span class="lesson-name">{{lesson.name}}  </span>
            </a>
            <button class="learn" title="learn" (click)="goToLearnView(lesson.id)">learn</button>
        </li> -->
    </ul>
    <!-- <button class="load" (click)="getWordset()">Load</button> -->
</div>