<!--p>word-exercise-template works!</p-->

<!-- <input placeholder='word'/>
<input placeholder='translation'/> -->
<br/>
<span class="word-id">?</span>
<input class="word-left" [(ngModel)]='data.word' placeholder='word'/>
<input class="word-right" [(ngModel)]='data.translation' placeholder='translation'/>
               
<!-- <input [(ngModel)]='data.originalSentence' placeholder='word'/>
<input [(ngModel)]='data.translatedSentence' placeholder='translation'/> -->
<!-- <button (click)='addExerciseToSet()'>+</button> -->