<!--CREATE-->
<div *ngIf="data.viewOption.type==ViewOption.Create">
    <span class="word-id">?</span>
    <input class="word-left" [(ngModel)]='data.word' placeholder='word' id="translationWord"/>
    <input class="word-right" [(ngModel)]='data.translation' placeholder='translation' id="inputTranslationWord"/>
    <button type="button" (click)='Translate();'>Suggest translation</button> 
</div>
<!--DISPLAY-->
<div *ngIf="data.viewOption.type==ViewOption.Display">
    <div class="addedWord">
        <a>
            <span>{{data.id}}  </span>
            <span>{{data.word}}      -      </span>
            <span>{{data.translation}}  </span>
            <img *ngIf="data.audioPath==1"src= "./../../../assets/icons/audio.png">
            <img *ngIf="data.videoPath==1" src="./../../../assets/icons/video.png">
            <img *ngIf="data.picturePath==1" src="./../../../assets/icons/image.png">
        </a>
    </div>

</div>

<div *ngIf="data.viewOption.type==ViewOption.DisplayImage">
    <a>
        <span>{{data.id}}  </span>
        <span>word: {{data.word}}  </span>
        <span>translation: {{data.translation}}  </span>
    </a>
    <img src={{data.picturePath}}>
</div>

<div *ngIf="data.viewOption.type==ViewOption.DisplayVideo">
    <a>
        <span>{{data.id}}  </span>
        <span>word: {{data.word}}  </span>
        <span>translation: {{data.translation}}  </span>
    </a>
    <video controls>
        <source src="http://localhost:3500/files/userMedia/video/ice_video_20201128-192738.webm">
    </video> 
</div>

<div *ngIf="data.viewOption.type==ViewOption.DisplayAudio">
    <a>
        <span>{{data.id}}  </span>
        <span>word: {{data.word}}  </span>
        <span>translation: {{data.translation}}  </span>
    </a>
    <audio controls>
        <source src="http://localhost:3500/files/userMedia/audio/88_1_1606078774500.mpeg" >
    </audio>
</div>

<!--LEARN-->

    <div *ngIf="data.viewOption.type==ViewOption.Learn">
        <span>{{data.id}}</span>
        <span class="word-left">{{data.word}}</span>
        <input [(ngModel)]="data.answer" placeholder="answer" class="word-right" />
    </div>

    <div class="image" *ngIf="data.viewOption.type==ViewOption.LearnImage">
        <h4 class="text-center">Translate a word</h4>
        <h5 class="word-left text-center">{{data.word}}</h5>
        <img class="mx-auto d-block rounded" src={{data.picturePath}}>
        <input [(ngModel)]="data.answer" placeholder="answer" class="mx-auto word-right" />
    </div>

    <div class="audio" *ngIf="data.viewOption.type==ViewOption.LearnAudio">
        <span>{{data.id}}</span>
        <span class="word-left">{{data.word}}</span>
        <input [(ngModel)]="data.answer" placeholder="answer" class="word-right" />
        <audio controls>
            <source src={{data.audioPath}} >
        </audio>
    </div>

    <div class="video" *ngIf="data.viewOption.type==ViewOption.LearnVideo">
        <span>{{data.id}}</span>
        <span class="word-left">{{data.word}}</span>
        <input [(ngModel)]="data.answer" placeholder="answer" class="word-right" />
        <video controls>
            <source src={{data.videoPath}}>
        </video> 
    </div>
