<div class="login {{userService.colorset[0]}} ">
    <div class=" d-flex justify-content-center align-items-center login-page text-dark">
        <div class="d-flex bg-white flex-column  p-5 rounded">
            <h1>Delp Login</h1>
            <input class="p-2 m-2" #username placeholder="username" />
            <input class="p-2 m-2" #password placeholder="password" />
            <button class="p-2 m-2 btn {{userService.colorset[1]}}"
                (click)="logIn(username.value, password.value); username.value=''; password.value=''">Login</button>
        </div>
    </div>
</div>