<br>
<div id="wordset-create">
    <input [(ngModel)]="set.setInfo.name" placeholder="Wordset Name"/>
    <input [(ngModel)]="set.setInfo.info" placeholder="Wordset Info"/>
    <ul class="words">
        <li>
            <ng-template exerciseHost></ng-template><button (click)="addExercise();">+</button>
        </li>
    </ul>
    <ngx-dropzone class="customDropzone" (change)="onSelect($event)">
        <ngx-dropzone-label>Drop files here!</ngx-dropzone-label>
        <ngx-dropzone-preview class="customFilesPreview" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label class="customFilesNamesText">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
    </ngx-dropzone>
    <ul *ngIf="set" class="words">
        <li *ngFor="let exerciseI of set.exercises">
            <ng-template exerciseListHost></ng-template><br/>
        </li>
    </ul>
<br>
<button (click)="saveSet()">Save</button>
</div>