<p>wordset-display works!</p>
<br>
<div id="wordset-display">
<ul *ngIf="wordset" class="words">
    <li *ngFor="let word of wordset.exercises">
        <!-- {{wordset.excercises.length}}
        {{this.words.length}} -->
        <a>
            <span class="word-id">{{word.id}}  </span>
            <span class="word-left">{{word.word}}  </span>
            <span class="word-right">{{word.translation}}  </span> 
        </a>
    </li>
</ul>
<button class="load" (click)="getWordset()">Load</button>
</div>