<div id="wordset-display" class="learningwordset d-flex py-2 flex-column">
    <ng-template exerciseHost></ng-template>
    <div class="hint text-center text-success invisible" >CORRECT: {{hint}}</div>
    <div class="d-flex justify-content-between setbuttons" >
        <button *ngIf="correctAnswer===false" class="iwasright p-2 m-2 Check btn bg-warning" (click)="iWasRight()">I was right</button>
        <button class="nextcheck Check p-2 ml-auto m-2 btn {{userService.colorset[1]}}" (click)="checkWord()">Check</button>
    </div>
    <div class="text-center text-small" *ngIf="exerciseIndex && set">Exercise: {{exerciseIndex}}/{{set.exercises.length}}</div>
</div>