<div class="login ">
    <div class=" d-flex justify-content-center align-items-center login-page text-dark">
        <div class="d-flex bg-white flex-column p-5 rounded">
            <!-- <h1>Delp Register</h1>
            <input class="p-2 m-2" [(ngModel)]="user.name" placeholder="name" />
            <input class="p-2 m-2" [(ngModel)]="user.surname" placeholder="surname" />
            <input class="p-2 m-2" [(ngModel)]="user.email" type="email" placeholder="email" />
            <input class="p-2 m-2" [(ngModel)]="user.birthday" type="date" placeholder="birthday" />
            <input class="p-2 m-2" #username placeholder="username" />
            <input class="p-2 m-2" type="password" #password placeholder="password" />
            <input class="p-2 m-2" type="password" #confirmPassword placeholder="confirm password" />
            <button class="p-2 m-2 btn {{userService.colorset[1]}}"
                (click)="register(username.value, password.value); username.value=''; password.value=''">Register</button> -->

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input class="p-2 m-2" placeholder="name" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="p-2 m-2" placeholder="surname" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Surname is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input placeholder="birthday" type="date" formControlName="birthday" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }" />
                            <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
                                <div *ngIf="f.birthday.errors.required">Date of Birth is required</div>
                                <div *ngIf="f.birthday.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>My language</mat-label>
                                <mat-select [formControl]="lang1">
                                    <mat-option *ngFor="let language of languageList" [value]="language">{{language.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <input placeholder="email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <!-- <mat-form-field>
                            <mat-label>my language</mat-label>
                            <mat-select formControlName="firstLanguage">
                                <mat-option *ngFor="let language of languageList" [value]="language">{{language.name}}</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <div class="form-group">
                            <input class="p-2 m-2" placeholder="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input placeholder="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input placeholder="confirm password" type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                    <!-- <div class="form-group form-check">
                        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                        <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                    </div> -->
                    <div class="form-group form-check">
                        <input type="checkbox" formControlName="hearingDisability" id="hearingDisability" class="form-check-input" />
                        <label for="hearingDisability" class="form-check-label">Hearing disability</label>
                        <!-- <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div> -->
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" formControlName="colorBlindness" id="colorBlindness" class="form-check-input" />
                        <label for="colorBlindness" class="form-check-label">Color blindness</label>
                        <!-- <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div> -->
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" formControlName="sightDisability" id="sightDisability" class="form-check-input" />
                        <label for="sightDisability" class="form-check-label">Sight disability</label>
                        <!-- <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div> -->
                    </div>
                    <div class="text-center">
                        <button class="p-2 m-2 btn {{userService.colorset[1]}}">Register</button>
                        <button class="p-2 m-2 btn {{userService.colorset[1]}}" type="reset" (click)="onReset()">Reset data</button>
                        <button class="p-2 m-2 btn {{userService.colorset[1]}}" (click)="goToLogin()">Cancel</button>
                    </div>
                </form>
        </div>
    </div>
</div>