<p>searched-sets works!</p>

<div>
    <ul *ngIf="searchedSets">
        <li *ngFor="let setI of searchedSets">
            <a>
                <span class="wordset-id">{{setI.id}}  </span>
                <span class="wordset-name">{{setI.name}}  </span>
                <!-- <span class="wordset-name">{{set.isWordSet}}  </span> -->
                
            </a>
            <button class="display" title="display" (click)="goToDisplayView(setI.id)">display</button>
            <button class="learn" title="learn" (click)="goToLearnView(setI.id)">learn</button>
            <button  *ngIf="isFavourite(setI.id)===false" (click)="addToFavourites(setI.id)">Add to Favourites</button>
            <a  *ngIf="isFavourite(setI.id)===true">Set already in Favourites!</a>
            <!-- <button *ngIf="isFavourite(set)==false" (click)="addToFavourites(set.id)">Add to Favourites</button> -->
        </li>
    </ul>
</div>