<br>
<div id="wordset-create">
    <input [(ngModel)]="set.setInfo.name" placeholder="Wordset Name"/>
    <!-- <input *ngIf="set.setInfo" [(ngModel)]="set.setInfo.name" placeholder="Wordset Name"/> -->
    <input [(ngModel)]="set.setInfo.info" placeholder="Wordset Info"/>
    <!-- <input *ngIf="set.setInfo" [(ngModel)]="set.setInfo.info" placeholder="Wordset Info"/> -->
    <ul *ngIf="set" class="words">
        <li *ngFor="let exercise of set.exercises">  
            <a>
                <span class="word-id">{{exercise.id}}</span>
                <span class="word-left">{{exercise.data.word}}</span>
                <span class="word-right">{{exercise.data.translation}}</span> 
                <button class="delete" title="delete word" (click)="deleteExercise(exercise)">x</button>
            </a>
        </li>
    </ul>
    <ul class="words">
        <li>
            <ng-template exerciseHost></ng-template><button (click)="addExercise();">+</button>
        </li>
    </ul>
<br>
<button (click)="saveSet()">Save</button>
</div>