<br>
<div id="wordset-create">
    <input [(ngModel)]="set.setInfo.name" placeholder="Wordset Name"/>
    <!-- <input *ngIf="set.setInfo" [(ngModel)]="set.setInfo.name" placeholder="Wordset Name"/> -->
    <input [(ngModel)]="set.setInfo.info" placeholder="Wordset Info"/>
    <!-- <input *ngIf="set.setInfo" [(ngModel)]="set.setInfo.info" placeholder="Wordset Info"/> -->
    <ul *ngIf="set" class="words">
        <li *ngFor="let exercise of set.exercises">  
            <a>
                <span class="word-id">{{exercise.id}}</span>
                <span class="word-left">{{exercise.word}}</span>
                <span class="word-right">{{exercise.translation}}</span> 
            </a>
            <button class="delete" title="delete word" (click)="deleteExercise(exercise)">x</button>
        </li>
        <li>
            <ng-template exerciseHost></ng-template>
<!-- <input #wordInput1 [(ngModel)]="exercise.word" placeholder="word"/><input #wordInput2 [(ngModel)]="exercise.translation" placeholder="translation"/> -->
            <button (click)="addExercise(); wordInput1.value=''; wordInput2.value=''">+</button>
        </li>
    </ul>
<button (click)="saveSet()">Save</button>
</div>